{% extends 'Base.html' %}
{% block title %}
Forgot Password
{% endblock title %}
{% block content %}
<body>
  <div class="container">
  	<div class="row">
  		<div class="col-md-4"></div>
  		<div class="col-md-5">
  			<h2 style="text-align: center; margin: 20px; color:red;"><b>FORGOT PASSWORD</b></h2>
  			<form class="form-control form-group" action='' method="post">
			{% csrf_token %}
				<div class="form-group">
					<label for="login_email"><b>Enter Email Address :</b></label>
					<input type="email" class="form-control" id="forgotpass_email" name="email_address" {{disabled}} autofocus  placeholder="example@gmail.com" data-toggle="tooltip" data-placement="bottom" title="Enter Email Address" required>
				</div>
				<div class="form-group">
					<button class="btn btn-danger"type="submit" id="changepass_button" {{disabled}}><b>Change Password</b></button>
				</div>
				<div class="form-group">
					<label class="text-success"><b>{{message}}</b></label>
					<a href="{% url 'Login' %}">goto login page...</a>
				</div>
			</form>
  		</div>
  	</div>
  </div>
  </body>
{% endblock content %}